.sideBarOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sideBarOptions:hover{
    background-color: rgb(149, 175, 192);
    color:white;
    border-radius: 30px;
    transition: color 100ms ease-out;
}

.sideBarOptions > .MuiSvgIcon-root{
    padding: 20px;
}

.sideBarOptions > h2{

    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}

.sideBarOptions--active{
    background-color: blue;
}